{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Veuillez renseigner tous les champs</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('home') }}">revenir à la page d'acceuil</a>
{% endblock %}
